@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');

* {
  scroll-behavior: smooth;
}

html, body {
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
}

body {
  background: #fff;
}

h1, h4 {
  margin: 0;
}

ul {
  padding: 0;
  margin-top: 20px;
}

.navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1000;
  background-color: rgba(218, 212, 212, 0.75);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid black;
}

.fab-buttons {
  position: absolute;
  z-index: 100;
  left: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 150px;
}

.fab-buttons button {
  margin-bottom: 20px;
}

.MuiFab-root {
  background: rgba(218, 212, 212, 0.589);
  border: 2px solid white;
  backdrop-filter: blur(5px);
}

.nav {
  /* width: 100%; */
  font-weight: 700;
  font-size: 24px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}

.nav-links a {
  color: black;
  text-decoration: none;
}

.loading-screen {
  width: 100%;
  height: 100vh;
  background-color: #fff9ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loading-screen-image {
  width: 74%;
  height: auto;
  position: relative;
}

.titles {
  padding-top: 2%;
  text-align: center;
}

.progress-bar {
  margin-top: 5%;
  font-size: 18px;
  height: 30px;
  color: white;
  background-color: rgb(23, 186, 18);
  text-shadow: 2px 2px black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 426px) {

  .progress-bar {
    max-width: 450px;
  }
}

.first-section {
  background: url("/images/bg.png");
  background-size: cover;
  /* background-size: 75%; */
  background-color: rgb(23, 186, 18);
  width: 100;
  position: relative;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: movebg 30s linear infinite;
  position: in
}

@keyframes movebg {
  0% {
    background-position: -1900px -922px;
  }

  100% {
    background-position: 0 0;
  }
}

.first-section .main-title {
  font-size: 100px;
  color: white;
  text-shadow: 6px 6px #000;
}

.first-section .sub-title {
  color: white;
  text-shadow: 3px 3px #000;
  letter-spacing: 6px;
}

.title-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 50px;
}

.title-buttons button {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 3px;
  background-color: #875EA8;
  transition: 0.5s;
  color: white;
  font-size: 28px;
  border-radius: 16px;
  width: 300px;
  height: 60px;
  box-shadow: 8px 8px black;
  border: none;
}

.title-buttons button:hover {
  transition: 0.5s;
  box-shadow: 0px 0px;
  background-color: #ff0000;
  border: 0 px;
}

.second-section {
  background-color: #875EA8;
  color: white;
  text-align: center;
  height: auto;
}

.about-container .main-title {
  letter-spacing: 5px;
  padding-top: 50px;
  padding-bottom: 30px;
  text-shadow: 2px 2px #000;
}

.main-title {
  font-size: 60px;
}

.sub-title {
  font-size: 30px;
}

.marquee-text {
  font-family: "Bebas Neue", cursive;
  width: 90%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 2px;
  text-align: center;
}

.about-section {
  margin: 0 auto;
  height: auto;
}

.about-section .about-text {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0px;
  width: 50%;
  margin: 0 auto;
  font-size: 21px;
  text-align: center;
  text-shadow: 2px 2px #000;
}

.marquee-pictures {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  margin: 50px;
}

.third-section {
  justify-content: center;
  margin: 0 auto;
  background: linear-gradient(to right, #FCE2A7 20%, #F9F8DA 60%);
}

.collection-section {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 0px;
  width: 75%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 60px;
}

.collection-section .main-title {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

.third-section {
  text-align: center;
}

.third-section-image img{
  width: 80%;
  /* height: 80%; */
  background-position: center;
}

.content-section {
  margin: 0 auto;
  width: 70%;
}

.content-section p {
  margin: 0;
  letter-spacing: 0.5px;
}

.image-container {
  border: 1px solid black;
  border-radius: 20px;
}

.network-section {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  justify-content: center;
  height: 100%;
  background-color: rgb(127, 235, 124);
}

.network-section h1 {
  padding-bottom: 30px;
}

.network-section .sub-title {
  padding-top: 20px;
}

.footer-buttons {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.twitter-button, .discord-button {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 3px;
  width: 250px;
  height: 80px;
  border: 0;
  border-radius: 25px;
  font-size: 28px;
}

.twitter-button {
  background-color: #1DA1F2;
  color: #fff;
  box-shadow: 8px 8px black;
  transition: 0.5s;
}

.twitter-button:hover {
  transition: 0.5s;
  box-shadow: 0px 0px;
}

.discord-button {
  background-color: #7289da;
  color: #fff;
  transition: 0.5s;
  box-shadow: 8px 8px black;
}

.discord-button:hover {
  box-shadow: 0px 0px;
  transition: 0.5s;
}

.toTop {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 3px;
  font-size: 15px;
  margin-top: 50px;
  height: 90px;
  width: 90px;
  border-radius: 100px;
  border: none;
  box-shadow: 8px 8px #000;
  transition: 0.5s;
  background-color: rgb(34, 189, 250);
  color: white;
}

.toTop:hover {
  transition: 0.5s;
  box-shadow: 0px 0px #000;
  background-color: #ff0000;
  color: black;
}

.social-media-images {
  padding: 0px 20px 0px 20px;
}

.head-section {
  height: 100vh;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background:rgb(31, 182, 26);
}

.fourth-section {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: auto;
  background: linear-gradient(to right, #9FE7FF 0%, #9FFFB5 100%);
  padding: 2% 0 5% 0;
}

.faq-text {
  font-size: 21px;
}
 
.disclosure-section {
  background-color: white;
  width: 500px;
  padding: 20px;
  border-radius: 15px;
  margin: 0 auto;
}

.disclosure-button {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  text-align: left;
  padding-left: 30px;
  width: 500px;
  height: 40px;
  border: 0px;
  border-radius: 15px;
  background: linear-gradient(to right, #9FE7FF 0%, #9FFFB5 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.disclosure-panel {
  font-family: "Oswald", sans-serif;
  text-align: left;
  letter-spacing: 0px;
  padding: 15px;
  padding-left: 30px;
  font-size: 15px;
}

/* Minting page */

.mint-section {
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mint-section .nasa-button {
  margin-top: 40px;
}

.information-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.first-box, .second-box {
  width: 250px;
  height: 120px;
  border-radius: 15px;
  background-color: #bfd170;
  border: 2px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 8px 8px #000;
}

.nav-mint-section {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: space-evenly;
  align-items: baseline;
  font-family: "Bebas Neue", cursive;
}

.nav-mint-section a {
  text-decoration: none;
  color: black;
  font-size: 21px;
}

.nasa-button {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 3px;
  background-color: #875EA8;
  transition: 0.5s;
  color: white;
  font-size: 21px;
  border-radius: 15px;
  width: 250px;
  height: 60px;
  box-shadow: 8px 8px black;
  border: none;
}

.nasa-button:hover {
  transition: 0.5s;
  box-shadow: 0px 0px;
}

@media screen and (max-width: 768px) {
  .first-section {
    background-size: 100%;
  }
  .footer-buttons {
    width: 100%;
  }
}

@media screen and (max-width: 426px) {

  .first-section {
    height: 87vh;
    background-size: 200%;
  }

  .fab-buttons {
    display: none;
  }

  .first-section .main-title {
    font-size: 70px;
  }

  .twitter-button, .discord-button {
    width: 150px;
    font-size: 24px;
    height: 70px;
  }

  .title-buttons button{
    width: 220px;
    height: 50px;
    font-size: 21px;
  }

  .marquee-text {
    font-size: 25px;
  }

  .nav-links {
    font-size: 18px;
  }

  .nav-mobile {
    display: block;
    list-style: none;
  }

  .about-container .main-title {
    font-size: 45px;
    text-shadow: 3px 3px #000;
  }

  .collection-section .main-title {
    font-size: 45px;
  }

  .about-section .about-text {
    font-size: 21px;
    width: 80%;
    text-shadow: 3px 3px #000;
  }

  .marquee-pictures {
    width: 120px;
    height: 120px;
    margin: 15px;
  }

  .collection-section .main-title {
    padding-top: 0px;
  }

  .content-section {
    width: 100%;
  }

  .content-section p {
    font-size: 21px;
  }

  .social-media-images img {
    width: 15%;
  }
}

@media screen and (max-width: 321px) {

  .footer-buttons {
    width: 100%;
  }

  .twitter-button .discord-button {
    width: 100px;
  }

  .toTop {
    font-size: 18px;
  }
}